body {
    width: 70%;
    margin: 0 auto;
    padding: 0 ;
    border: 1px solid #ddd;
    text-align: right;
    font-family:Arial;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
  }
  html {
    font-size: 20px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  }
  sub{

    font-size: 25px;
    
  }
  #cabecera
  {
    background-color: #33a;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

  }